@use "sass:map";

@mixin respond($bp) {
  @media (max-width: map.get($breakpoints, $bp)) {
    @content;
  }
}

@mixin button-reset {
  appearance: none;
  border: 0;
  background: transparent;
  padding: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

@mixin flex-center {
  display: inline-grid;
  place-items: center;
}